.game-grid[data-v-15b06179]{display:grid;grid-template-columns:repeat(auto-fit,minmax(260px,1fr));gap:1rem 1.25rem}.home__game-row[data-v-15b06179]{display:flex;gap:1rem;overflow-x:auto;padding-bottom:.5rem;max-width:100%}
